<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CantinettaDelBonsignore</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>AddDelModController</display-name>
    <servlet-name>AddDelModController</servlet-name>
    <servlet-class>it.Cantinella.model.control.AddDelModController</servlet-class>
  </servlet>
  <servlet>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>it.Cantinella.model.control.CartController</servlet-class>
  </servlet>
  <servlet>
    <display-name>CatalogController</display-name>
    <servlet-name>CatalogController</servlet-name>
    <servlet-class>it.Cantinella.model.control.CatalogController</servlet-class>
  </servlet>
  <servlet>
    <display-name>DelUserController</display-name>
    <servlet-name>DelUserController</servlet-name>
    <servlet-class>it.Cantinella.model.control.DelUserController</servlet-class>
  </servlet>
  <servlet>
    <display-name>FeedbackController</display-name>
    <servlet-name>FeedbackController</servlet-name>
    <servlet-class>it.Cantinella.model.control.FeedbackController</servlet-class>
  </servlet>
  <servlet>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>it.Cantinella.model.control.LoginController</servlet-class>
  </servlet>
  <servlet>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>it.Cantinella.model.control.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>it.Cantinella.model.control.ProfileController</servlet-class>
  </servlet>
  <servlet>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>it.Cantinella.model.control.RegistrationController</servlet-class>
  </servlet>
  <filter>
    <filter-name>FiltroAdminRestriction</filter-name>
    <filter-class>it.Cantinella.model.filter.FiltroAdminRestriction</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAdminRestriction</filter-name>
    <url-pattern>/CatalogController</url-pattern>
    <url-pattern>/Cart.jsp</url-pattern>
    <url-pattern>/ProfileController</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltroAdminUser</filter-name>
    <filter-class>it.Cantinella.model.filter.FiltroAdminUser</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAdminUser</filter-name>
    <url-pattern>/DelUserController</url-pattern>
  </filter-mapping>
</web-app>